/*@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);*/
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
html, body {
    width: 100%;
    font-family: "Nanum Gothic", sans-serif;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    padding: 20px;
}
.content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.banner {
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px 100px;
    margin-left: auto;
    margin-right: auto;
}
.banner h3 {
    margin: 0;
    width: 100%;
    text-align: center;
}
.banner h4 {
    /*margin: 0;*/
    width: 100%;
    text-align: right;
    font-size: 14px;
    color: #666666;
    margin-right: 50px;
}
.record-wrap {
    white-space: nowrap;
    padding: 10px 100px;
    vertical-align: top;
}
.round-info span {
    margin: 0;
}
.round {
    display: inline-block;
    width: 50%;
    padding: 0 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #666666;
    font-size: 16px;
}
.round span {
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.round-date {
    display: inline-block;
    width: 48%;
    text-align: right;
    padding: 0 10px;
    font-size: 12px;
}
.table-record {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    font-size: 14px;
}
.table-record td {
    text-align: center;
    padding: 8px 5px;
    border-bottom: 1px solid #ccc;
    border-collapse: collapse;
}
.table-record td:first-child {
    border-right: 1px solid #ccc;
    border-collapse: collapse;
}

.table-result {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    font-size: 16px;
}

.table-result td {
    text-align: center;
    padding: 12px 5px;
    border-bottom: 1px solid #cccccc;
    border-collapse: collapse;
}

.table-result td:first-child {
    border-right: 1px solid #ccc;
    border-collapse: collapse;
}

.table-result thead {
    font-size: 18px;
    font-weight: bold;
}

.table-mvp {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    font-size: 16px;
}

.table-mvp thead {
    font-size: 18px;
    font-weight: bold;
}

.table-mvp td {
    text-align: center;
    padding: 12px 5px;
    border: 1px solid #cccccc;
    border-collapse: collapse;
    height: 44px;
}

.mvp-picture {
    border: 1px solid #cccccc;
}


.vs-left {
    text-align: left;
    padding: 0;
    font-size: 12px;
}
.vs-right {
    text-align: right;
    padding: 0;
    font-size: 12px;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
    width: 100%;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid #dddddd;
    border-bottom: 20px solid transparent;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
}

.triangle-body {
    width: 30px;
    height: 40px;
    background-color: #dddddd;
    display: inline-block;
    margin: 0 0 0 -4px;
    vertical-align: top;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.circle {
    width: 15px;
    height: 15px;
    background: #dddddd;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

.circle-active {
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

.pager {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

input[type=text] {
    padding: 2px 2px;
    width: 100%;
    box-sizing: border-box;
}

.table-record input[type=text] {
    text-align: center;
}

#table-final-record input[type=text] {
    text-align: center;
    width: 60px;
}

#table-mvp input[type=text] {
    text-align: center;
    width: 100px;
}

.button-save {
    z-index: 1000;
}
